<footer>
  <!-- Google Fonts Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

  <div class="footer-fade container center pv4 ph3 ph5-m ph6-l avenir">
    <ul class="footer-columns list pl0 cf ph0-ns">

      <!-- About Section -->
      <li class="about list pl0 fl w-100 w-40-l pa2">
        <h4>About Mastiff Gaming</h4>
        <ul class="list pl0 lh-copy measure-narrow">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo nunc, viverra eu ligula ut, posuere fringilla neque. Donec placerat quis massa in blandit. Pellentesque sagittis et velit ut eleifend.</li>
        </ul>
      </li>

      <!-- Site Links -->
      <li class="footer-nav fl w-100 w-20-l pa2">
        <h4>Explore</h4>
        <ul class="list pl0 lh-copy">
          <li><a href="/games/" style="color: #FF6F61;">Games</a></li>
          <li><a href="/products/" style="color: #FF6F61;">Merch</a></li>
          <li><a href="/shop/" style="color: #FF6F61;">Shop</a></li>
          <li><a href="/blog/" style="color: #FF6F61;">Dev Blog</a></li>
        </ul>
      </li>

      <!-- Support Links -->
      <li class="footer-nav fl w-100 w-20-l pa2">
        <h4>Support</h4>
        <ul class="list pl0 lh-copy">
          <li><a href="/about/" style="color: #FF6F61;">About Us</a></li>
          <li><a href="/contact/" style="color: #FF6F61;">Contact</a></li>
          <li><a href="/support/" style="color: #FF6F61;">Help Center</a></li>
          <li><a href="/privacy/" style="color: #FF6F61;">Privacy Policy</a></li>
        </ul>
      </li>

      <!-- Contact + Social -->
      <li class="footer-nav fl w-100 w-20-l pa2">
        <h4>Connect</h4>
        <ul class="list pl0 lh-copy">
          <li>Want to reach out or collaborate?</li>
          <li><a href="/contact/" style="color: #FF6F61;">Get in touch</a></li>
        </ul>
        <div class="social-icons mt2">
          <a class="GitHub dim" href="https://github.com/mastiff-systems">{% include social-icon.html icon="GitHub" %}</a>
          <a class="discord dim" href="https://discord.gg/ugJw9Uem">{% include social-icon.html icon="Discord" %}</a>
          <a class="bluesky dim" href="https://bsky.app/profile/mastiffgaming.bsky.social">{% include social-icon.html icon="Bluesky" %}</a>
          <a class="mastodon dim" href="https://mastodon.social/@mastiffgaming">{% include social-icon.html icon="Mastodon" %}</a>
        </div>
      </li>
    </ul>

    <p class="copyright black-40 f7 f6 tc-l" style="color: white;">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.<br />
    </p>
  </div>
</footer>
